* {
	font-family: "MerriweatherSans-Regular";
	color: white;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: "MerriweatherSans-Bold";
}
h1 {
	font-size: 144px;
}
h2 {
	font-size: 84px;
	color: white;
	margin-bottom: 100px;
}
h3 {
	font-size: 47px;
  text-align: center;
  line-height: 1.3;
}

b {
	font-family: "MerriweatherSans-Bold";
}
