// Colors
$lightgray:         #f1f2f2;
$midgray:           #939598;
$black:             #231f20;

$red:				        #83122D;
$beige:				      #F9F7F6;


// Typography
$sans-serif:        'Poppins', 'Helvetica-Neue', sans-serif;      
$serif:        		  'Crimson Text', 'Georgia', sans-serif;           

// Transition
$transition:        all 0.5s;                                      
